body {
  font-family: Arial, Helvetica, sans-serif;
  min-height: 100vh;
  background: #111;
}

h1 {
  color: white;
}

.grid-container {
  display: flex;
  flex-direction: column;
  gap: 3px;
}

.tier-container {
  display: grid;
  grid-template-columns: 100px 1fr 100px;
  /* gap: 1px; */
  min-height: 80px;
}

.tier {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  min-height: 80px;
}

.place-to-drag {
  min-height: 80px;
  /* width: 500px; */
  background: rgba(255, 255, 255, 0.1);
  /* cursor: pointer; */
  margin: 0;
  padding: 0;
}

.setting {
  width: 100px;
  min-height: 80px;
  background-color: black;
}

img {
  height: 80px;
  width: 80px;
  cursor: pointer;
  margin: 0;
  padding: 0;
}
